h3 {
    color: green
}

p {
    color: orange;
}

/* #뭐뭐뭐는 스팬코드로 id가 뭐뭐뭐다 */
#first {
    color: yellow;
}

/* id가 s : 딱 하나만 고를 때 */
#s {
    color: rgb(31, 173, 125);
}
/* id가 우선순위가 높다 */
/* class가 a : 그룹으로 묶어서 다룰 때 */
.a {
    color: #7b79f7;
}

ol {
    font-size: 12px;
}

ol > li.a {
    font-size: 10px;
}

ol > li#back {
    background-color: rgb(189, 189, 189);
}

/* a:link {
    color: black;
} */

a:visited {
    color: pink;
}
/* div 안에 들어있는 문장들을 이러이러하게 관리하겟다 */
div {
    /* display: inline; */
}

a {
    display: block;
}

div.square {
    background-color: gray;
    width: 100px;
    height: 100px;
}

.border {
    border-style: solid;
    border-width: 2px;
}

.margin {
    margin-top: 5px;
    margin-bottom: 10px;
}
#base {
    display: flex;
}